<h1>Bulk Discounts</h1>
<%= link_to "Create Discount", new_merchant_bulk_discount_path(@merchant.id) %>

<% @bulk_discounts.each do |bulk_discount| %>
  <section id="bd-<%=bulk_discount.id %>">
    <p>Percentage: <%= bulk_discount.percentage_discount %> Bulk: <%= bulk_discount.quantity_threshold %></p>
    <%= link_to "Bulk Discount #{bulk_discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}"  %>
    <%= link_to "Delete Discount #{bulk_discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" , method: :delete  %>
  </section>
<% end %>

<h2>Upcoming Holidays</h2>
<% @holidays.slice(0..2).each do |holiday| %>
  <p>Name: <%= holiday.name %>, Date: <%= holiday.date %></p>
<% end %>
